.container .header-logo {
    margin: 5px 0 5px;
}

.container .main p[class="checkbox-reminder"] {
    margin: 0%;
    padding: 0px 0px 5px 55px;
    height: 8px;
    text-align: left;
    font-size: small;
    color: rgba(255, 0, 0, 0.6);
}

.container .main .checkbox {
    padding-left: -10px;
}

.container .main .input-box-default,
.container .main .input-box-warning {
    margin: 4% auto;
}